.monitoreo {
  text-align: center;
  font-family: Arial, sans-serif;
}

.camera-section {
  margin-top: 20px;
  display: flex;
  justify-content: center; /* Centra la cámara */
  align-items: center;
  flex-direction: column;
}

.camera-feed img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 2px solid #4caf50;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px;
}

.sensor-data {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333; /* Color más oscuro para mejor legibilidad */
}

.irrigation-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
  color: #fff;
  background-color: #119238;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.irrigation-btn:hover {
  background-color: #096c27; /* Color más oscuro al pasar el mouse */
}

.irrigation-btn.on {
  background-color: #ee1616;
}

.irrigation-btn.on:hover {
  background-color: #d91414; /* Color más oscuro cuando está activo */
}

.camera-section p {
  font-size: 1.1em;
  color: #777; /* Un color gris claro para el mensaje de espera */
  margin-top: 15px;
}
